.header {
    display: flex;
    flex-flow: row;
    justify-content: center;
    min-height: 36px;
    position: sticky;
    top: 0;
}


.header__container_link {
    width: auto;
}

.header__container_link a {
    margin: 2rem;
}

.header__container_menu {
    width: auto;
}
